<div class="container mx-auto md:my-auto md:px-72 py-2 px-4">
  <student-form
    :course="<%= serialize_resource(@course) %>"
    :course-classes="<%= serialize_resource(@course_classes) %>"
  ></student-form>
</div>
