<p>Hola <%= @resource.email %>!</p>
<p>Se ha hecho un intento de reestablecer tu contrase単a en la plataforma <%= application_host %>.
Para reestablecer tu contrase単a, haz click en el siguiente enlace:</p>

<p><%= link_to 'Modificar mi Contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Si no has solicitado reestablecer tu contrase単a, ignora este correo.</p>
<p> Cualquier problema, puedes responder a este correo.</p>
